@model IEnumerable<Amazon.Models.Book> 
@{
    Layout = "_layout";
    ViewData["Title"] = ".:: Amazon ::."; 
}
<div class="text-center">
    <h3>Bienvenido a AMAZON, tu tienda virtual de libros.</h3>
    <h4>
        Los libros no estan muriendo solo se estan volviendo digitales
    </h4>
    <a class="btn btn-primary" asp-action="RegBookForm">Registrar un Libro ahora</a>
</div>
<div class="container-fluid">
    <div class="row">
        @foreach (Amazon.Models.Book book in Model)
{
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1676dffbdce%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1676dffbdce%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.203125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                     alt="Card image cap">
                <div class="card-header">
                    <h5 class="card-title">@(book?.Title ?? "<Titulo no establecido>")</h5> @switch (book?.LevelStock)
{
case LevelStock.InStock:
                    <span class="badge badge-success">En Stock</span>
break;
case LevelStock.SoldOut:
                    <span class="badge badge-danger">Agotado</span>
break;
}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Precio: @(book?.Price ?? 0)</li>
                    <li class="list-group-item">Nro Paginas: @(book?.NroPages ?? 0)</li>
                    <li class="list-group-item">@(book?.Author ?? "<Autor no establecido>")</li>
                </ul>
                <div class="card-body">
                    <footer>
                        <a href="#" class="btn btn-warning">Add to Car</a>
                    </footer>
                </div>
            </div>
        </div>
}
    </div>
</div>