
@{
    Layout = null; //desactiva la vista
    ViewData["Title"] = "MyView";

}
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css " />
</head>
<body>
    <div class="text-center"> 
        <h3>Bienvenido a AMAZON, tu tienda virtual de libros.</h3>
        <h4> 
            Los libros no estan muriendo solo se estan volviendo digitales 
        </h4> 
        <a class="btn btn-primary" asp-action="RegBookForm">Registrar un Libro ahora</a> 
    </div>
</body>
</html>

@ViewBag.Greeting World (from the view)
<!----C#--------- ----- HTML --------->



