@model Amazon.Models.Book 
@{
    Layout = "_Layout";
    ViewData["Title"] = "RegBookForm"; 
 }
<link rel="stylesheet" href="~/css/style.css" />
<div class="card">
    <div class="card-header">
        <h4>REGISTRAR UN LIBRO</h4>
    </div>
    <div class="card-body">
        <form asp-action="RegBookForm" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="ISBN">ISBN:</label>
                <input class="form-control" asp-for="ISBN" />
            </div>
            <div class="form-group">
                <label asp-for="Title">Title:</label>
                <input class="form-control" asp-for="Title" />
            </div>
            <div class="form-group">
                <label asp-for="Author">Author:</label>
                <input class="form-control" asp-for="Author" />
            </div>
            <div class="form-group">
                <label asp-for="Price">Price:</label>
                <input class="form-control" asp-for="Price" />
            </div>
            <div class="form-group">
                <label asp-for="NroPages">NroPages:</label>
                <input class="form-control" asp-for="NroPages" />
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Submit RegBook</button>
            </div>
        </form>
    </div>
</div>